
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_401_cshtml</title>
</head>
<body>

    <h1>Bạn không có quyền truy cập vào trang này</h1>

    <a href="/Home/Index">Nhấn vào đây để quay lại trang chủ</a>
</body>
</html>
